
<% @ideas.each do |idea| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <blackquote>
            <p><%= idea.description %></p>
            <small><%= idea.author %></small>
        </blackquote>
      </div>
    </div>

<% end %>